﻿@model Carrito.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id="hot">
    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Popular esta semana</h2>
            </div>
        </div>
    </div>
</div>
<div id="advantages">
    <div class="container">
        <div class="same-height-row">
            @foreach (var producto in Model.productos)
            {
            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <h3>@Html.ActionLink(producto.Nombre,"Index","Detalle",new { id = producto.Id }, null)</h3>
                    <p>@producto.PrecioUnitario</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>

