﻿@model Carrito.ViewModel.CarritoViewModel
@{
    ViewBag.Title = "Index";
}

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Href("~/Home/Index")">Home</a>
                    </li>
                    <li>Carrito</li>
                </ul>
            </div>

            <div class="col-md-12" id="basket">

                <div class="box">

                    <form method="post" action="checkout1.html">

                        <h1>Shopping cart</h1>
                        <p class="text-muted">You currently have @Model.CantidadEnCarrito item(s) in your cart.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Producto</th>
                                        <th>Precio</th>
                                        <th>Discount</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var producto in Model.Productos)
                                    {
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="img/detailsquare.jpg" alt="Foto del producto">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">@producto.Nombre</a>
                                            </td>
                                            <td>@producto.PrecioUnitario</td>
                                            <td>@producto.Descuento</td>
                                            <td>@producto.Total</td>
                                            <td>
                                                <a href="@Url.Action("Eliminar",new {carritoId = Model.Id, productoId = producto.Id})"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }

                                <tfoot>
                                    <tr>
                                        <th colspan="5">Total</th>
                                        <th colspan="2">@Model.Total</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="@Href("~/Home/Index")" class="btn btn-default"><i class="fa fa-chevron-left"></i>Continuar comprando</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">
                                    Proceed to checkout <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.box -->

            </div>


        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
