﻿
@model Carrito.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "";
}

@Styles.Render("~/Content/css/theme")
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Customer login</h4>
            </div>
            <div class="modal-body">
                
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control", @placeholder = "email" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Clave, new { @class = "form-control", @placeholder = "password" })
                    </div>

                    <p class="text-center">
                        <input type="submit" class="btn btn-primary">
                    </p>
                }

                    @Html.ValidationSummary(true)

            </div>
        </div>
    </div>
</div>

