﻿@model Carrito.ViewModel.DetalleViewModel
@{
    ViewBag.Title = "Login";
}

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Href("~/Home/Index")">Home</a>
                    </li>
                    <li>
                        @Model.Nombre
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="box">
                <h1 class="text-center">@Model.Nombre</h1>
                <p class="price text-center">@Model.PrecioUnitario</p>

                <p class="text-center buttons">
                    <a href="@Url.Action("Agregar",new {id = Model.Id})" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                </p>
            </div>
        </div>


        <div class="box" id="details">
            <p>
                <h4>Detalles del producto</h4>
            <p>@Model.Detalle</p>

        </div>
    </div>
</div>

